main {
    background-color: gainsboro
}

/* ul {
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
} */

.main-logo img{
    border-radius: 56%; 
    width: 375px;
}

.pg2-logo img {
    display: block;
    margin: auto;
    padding: align-self auto;
    width: 30%;
}

.pg3-logo img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

aside{
    background-color: greenyellow
}

article{
    background: lightsteelblue;
    backface-visibility: 30%; 
}
